@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image: url(fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}


/* estilo da div titulo*/
.div_titulo {
    margin: 5%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
}

/* estilo da div navegação */
.div_navegacao {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    height: 50px;
}

/* estilo da div principal */
.div_conteudo {
    margin: 0;
    padding: 25px;
    background-color: rgba(255, 184, 111, 0.3);;
    text-align: -webkit-center;
}

/* estilo da div botoes */
.div_navegacao .botoes {
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.4);
}
.div_navegacao .ativo {
    background-color: rgba(255, 216, 128, 0.6);
}


/* estilo da div mensagem do sistema */
.div_msg {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}


/* personalização do formulário */
.bt_ListarEditar{
  cursor: pointer;
  background-color:yellow; 
  font-size:18px;
  font-weight:normal;
  border-radius: 15px;
}
.bt_ListarExcluir{
  cursor: pointer;
  background-color:red; 
  font-size:18px;
  font-weight:normal;
  border-radius: 15px;
}
.bt_NovaTarefa{
  cursor: pointer;
  background-color:green; 
  font-size:18px;
  font-weight:normal;
  border-radius: 15px;
}

.bt_SalvaTarefa{
  cursor: pointer;
  background-color:green; 
  font-size:18px;
  font-weight:normal;
  border-radius: 15px;
}
.bt_CancelarTarefa{
  cursor: pointer;
  background-color:yellow; 
  font-size:18px;
  font-weight:normal;
  border-radius: 15px;
}


/* personalização das divs como tabelas */
.div-table{
    display: table !important;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: auto !important;
}
.div-table-row{
    display: table-row !important;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
}
.div-table-row:hover{ 
    background-color: #ff8d4a; 
}
.div-table-row .div-table-cell:first-child{ border-left: 1px solid #E1E1E1; }
.div-table-cell{
    display: table-cell !important;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    text-align: center;
}
.div-table-head,
.div-table-head:hover{
    background-color: #ffd39d;
    font-size: 17px;
    font-weight: bolder;
}
.div-table-head .div-table-cell{ 
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
}
.div-table-row-list .div-table-cell{ 
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
}
.div-table-row-list{ border: none; }
.div-table-row-list .div-table-cell:first-child{
    border-left: none; 
}
